<div class="container">
    <section class="search">
        <div class="main">
          <form class="search__form" role="form">
            <button ng-repeat="item in cities" ng-click="setLocation(item)" type="submit" >{{item}}</button>
          </form>
        </div>
    </section>
    <div ng-show="true">
      <h2>{{forecast.city.name | placeholder:'loading... '}}</h2>
      <h3>{{forecast.city.country | isoCountry}}</h3>
      <section>
        <div ng-repeat="forecast in forecast.list">
            <div forecast-item="forecast" show-entry="forecast"></div>
         </div>
      </section>
    </div>
</div>
