.button {
  @include transition(all .5s ease-in-out);
  @include appearance(none);
  cursor: pointer;
  display: inline-block;
  font-weight: bold;
  line-height: 1;
  text-decoration: none;
  user-select: none;
  vertical-align: middle;
  outline: none;

  &:hover {
    @include transform(scale(1.05));
  }

  &--primary {
    background: none;
    border: 1px solid $contrast-color;
    color: $contrast-color;
    font-size: rem(14);
    margin-top: 5px;
    padding: 8px 10px;
    text-align: center;

    &:hover,
    &:focus {
      background: $contrast-color;
      color: $gray;
      outline: none;
    }
  }


  &--secondary {
    background: none;
    border: 1px solid $gray;
    color: $gray;
    font-size: rem(14);
    margin: 5px;
    padding: 8px 10px;
    text-align: center;
    width: 100%;
    text-transform: uppercase;

    @include media($mobile) {
      width: calc(100% - 40px);
      margin: 20px;
    }

    &:hover,
    &:focus {
      background: $gray;
      color: $contrast-color;
      outline: none;
    }
  }
}
