.wrapper {
  @include outer-container;
  min-height: 100vh;

  &__main {
    @include shift(3);
    @include span-columns(6 of 12);
    padding-top: 115px;
    text-align: center;

    @include media($tablet){
      padding-top: 160px;
    }

    @include media($mobile){
      @include shift(0);
      @include span-columns(12 of 12);
      padding-top: 200px;
    }
  }
}
